.modal {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .main_info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    .img_wrapper {
      max-height: 248px;
      border-radius: 14px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }
    h2 {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 1.33;
      color: var(--text-primary);
      margin-bottom: 8px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.43;
    }
  }
  .gap_list {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: start;
    align-items: flex-start;

    color: var(--text-secondary);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    gap: 6px;

    li {
      display: flex;
      /* align-items: start; */

      height: 100%;
    }

    li:not(:last-child) {
      padding-right: 6px;
      border-right: 1px solid rgba(18, 20, 23, 0.1);
    }
  }
  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 8px;
  }
  .cond_list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--text-li);
    max-width: 400px;
    li {
      border-radius: 35px;
      padding: 7px 14px;

      height: 32px;
      background-color: var(--li-bgc-grey);
      .blue_accent {
        font-weight: 600;
      }
    }
  }
  .blue_accent {
    color: var(--btn-background);
  }
  .btn_rental {
    padding: 12px 50px;
    align-self: flex-start;
  }
}
